body {
	background-image: url("../images/president1.png");
}

.row {
	background-color: white;
	margin: 100px;
}
header {
	text-align: center;
}

form {
	background-color: blue;
}

.col-sm-12 {
	color: black;
}