body {
	background-image: url("../images/patriotic1.png");
}

.row {
	background-color: white;
	margin: 100px;
	
}

.panel-default {
	background-color: red;
}

.time {
	background-color: red;
}

header {
	text-align: center;
	color: white;
	background-color: red;
}

.col-sm-12 {
	color: white;
}

button {
	color: black;
}